In [1]:
name = 'Tomek'

In [2]:
age = 31

In [3]:
daysInYear = 356

In [4]:
message = '{0:s} is {1:d} years old, so is about {2:d} days old'

In [5]:
message.format('Jan',26, 365*26)

'Jan is 26 years old, so is about 9490 days old'

In [6]:
message.format(name,age,age*daysInYear)

'Tomek is 31 years old, so is about 11036 days old'

In [7]:
message = '%s is %d years old, so is about %d days old'

In [8]:
print(message % (name,age,age*daysInYear))

Tomek is 31 years old, so is about 11036 days old

In [13]:
zmienna1 = 1234567890
zmienna2 = 12345

zmienna3 = '%d divided by %d is %d and the rest is %d'

In [14]:
print(zmienna3 % (zmienna1, zmienna2, zmienna1//zmienna2, zmienna1%zmienna2))

1234567890 divided by 12345 is 100005 and the rest is 6165